<!-- <p>signup works!</p> -->
<div class="row signup-section">
    <div class="col-6 bg-section">
        <img src="../../assets/5_SKATEBOARD_PROTESTER.svg" alt="">
    </div>
    <div class="col-6 form-section">
        <h3>Hello, Welcome</h3>
        <p>Enter to digital learning</p>
        <div class="label-input">
            <label class="labelName" for="">Username</label>
            <div class="inputBox">
                <input type="text" pInputText>
            </div>
        </div>
        <div class="label-input">
            <label class="labelName" for="">Password</label>
            <div class="inputBox">
                <input type="text" pInputText>
            </div>
        </div>
    </div>
</div>